{
  "currentVersion": "1.1.2",
  "previousVersion": "1.1.1",
  "size": "~61MB",
  "downloadUrl": "https://github.com/ekeeya/files/raw/main/msitu-apk-1.1.2.apk",
  "publishedAt": "2025-08-03T20:30:00Z",
  "changelog": [
    "Added some performance improvements",
    "Added ability to do in-app updates"
  ]
}
