@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir', sans-serif;
    src: url('./assets/fonts/AvenirBook.ttf') format('ttf'),
    url('./assets/fonts/AvenirBook.eot') format('embedded-opentype'),
    url('./assets/fonts/AvenirBook.woff') format('woff'),
    url('./assets/fonts/AvenirBook.woff2') format('woff2');
    font-display: swap;
  }