<?xml version="1.0" encoding="utf-8"?>
<!--    This file is part of Msitu.
     <https://github.com/kitandara/kibira>

     Copyright (C) 2022 Digital Solutions

     Msitu is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     Msitu is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with Msitu. If not, see <http://www.gnu.org/licenses/>-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="23" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kibira"
        android:usesCleartextTraffic="true" >
        <activity
            android:name="com.dsmagic.kibira.activities.AreaActivity"
            android:exported="false"
            android:label="@string/title_activity_area"
            android:theme="@style/Theme.Kibira.NoActionBar" />
        <activity
            android:name="com.dsmagic.kibira.ui.login.LoginActivity"
            android:exported="true"
            android:label="Kibira" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dsmagic.kibira.activities.RegisterActivity"
            android:exported="true" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.actions" -->
        <!-- android:value="" /> -->
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCJUBKJ9odQqHyOG5N-FgQIqPJDXjTAHpI" />
        <!--
 The usb event prompts for re opening of the app therefore
          add launchmode = "singleTask" to prevent that from happening.
        -->
        <activity
            android:name="com.dsmagic.kibira.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:requestLegacyExternalStorage="true"
            android:theme="@style/Theme.Kibira.NoActionBar" />
    </application>

</manifest>